
<div class="container">
<!-- Only For Demo Working we used faker for testing the post and genereating post..
-->

<div class="row">


    <form action="#" method="">

        <h1>Generate Posts</h1>
        <div class="form-group">

            <input name="amount" type="text" class="form-control">

        </div>


        <button type="button" class="btn btn-dark" onclick="myFunction()">Generate</button>

    </form>


</div>

   <div class="row">


       <canvas id="myChart"></canvas>




   </div>







</div>
<script>
    function myFunction() {
        alert('Only For Generating  Demo Post No Effect');
    }
</script>